<style>
  ::ng-deep .selected-item {
    max-width: max-content !important;
}
</style>
<div class="card col m-auto">
  <h5 class="card-header bg-secondary text-light">Visualizando detalle de cita #{{idCita}}</h5>
  <div class="card-body">
     <div class="row">
        <div class="col">
           <p class="h5 text-secondary">Paciente:</p>
        </div>
        <div class="col">
           <p class="h5 text-secondary">Doctor:</p>
        </div>
        <div class="col">
           <p class="h5 text-secondary">Estado:</p>
        </div>
        <div class="col">
           <p class="h5 text-secondary">Fecha:</p>
        </div>
     </div>
     <div class="row">
        <div class="col">
          <p class="h5">{{ detalleCita.paciente }}</p>
        </div>
        <div class="col">
          <p class="h5">Dr. {{ detalleCita.doctor }}</p>
        </div>
        <div class="col">
          <p class="h5">{{ detalleCita.estado }}</p>
        </div>
        <div class="col">
          <p class="h5">{{ detalleCita.fecha }}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p class="h5 fst-italic text-secondary">Información detallada:</p>
        </div>
      </div>
      <hr class="text-secondary">
      <div class="row">
        <div class="col ">
          <div class="row">
            <div class=" col-md-4 col-12 ">
                <p class="text-dark">Número de cita:</p>
            </div>
            <div class=" col-md-8 col-12 ">
                <p class="text-dark fw-bold">{{ idCita }}</p>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-4 col-12 ">
                <p class="text-dark">Fecha de cita:</p>
            </div>
            <div class=" col-md-8 col-12 ">
                <p class="text-dark fw-bold">{{ detalleCita.fecha }}</p>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-4 col-12 ">
                <p class="text-dark">Hora de cita:</p>
            </div>
            <div class=" col-md-8 col-12 ">
                <p class="text-dark fw-bold">{{ detalleCita.horaIni }} - {{ detalleCita.horaFin }}</p>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-4 col-12 ">
                <p class="text-dark">Justificación del paciente</p>
            </div>
            <div class=" col-md-8 col-12 ">
                <p class="text-dark fw-bold">{{ detalleCita.justificacion }}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class=" col-md-4 col-12 ">
                <p class="text-dark">Departamento</p>
            </div>
            <div class=" col-md-8 col-12 ">
                <p class="text-dark fw-bold">{{ detalleCita.departamento }}</p>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-4 col-12 ">
                <p class="text-dark">Clínica</p>
            </div>
            <div class=" col-md-8 col-12 ">
                <p class="text-dark fw-bold">{{ detalleCita.clinica }}</p>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-4 col-12 ">
                <p class="text-dark">Doctor asignado</p>
            </div>
            <div class=" col-md-8 col-12 ">
                <p class="text-dark fw-bold">Dr. {{ detalleCita.doctor }}</p>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-4 col-12 ">
                <p class="text-dark">Estado de la cita:</p>
            </div>
            <div class=" col-md-8 col-12 ">
                <p class="text-dark fw-bold">{{ detalleCita.estado }}</p>
            </div>
          </div>
        </div>
      </div>

      <nav class="mt-2">
        <div class="nav nav-tabs" id="nav-tab" role="tablist" >
          <button  class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
           type="button" role="tab" aria-controls="nav-home" aria-selected="true">Detalles médicos</button>
           <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
          type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Últimas tomas</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
           type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Expediente</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="col m-auto mt-2 ">
            <form [formGroup] ="agregarDetalleForm" (ngSubmit) = "agregarDetalle()">
            <div class="row mx-auto" *ngIf="detalleApoitment.status.id == 1">

              <div class="col-4">
                <ng-multiselect-dropdown
                [placeholder]="'Tipo detalle'"
                [settings]="dropdownSettingsDetail "
                [data]="dropdownListDetail"
                (onSelect)="onItemSelectDetail($event)"
                (onDeSelect)="onDeSelectDetail($event)"
              >
              </ng-multiselect-dropdown>
              </div>
              <div class="col-4">
                <textarea style="height: 50px;" id="descripcion" placeholder="Descripcion" class="form-control" required></textarea>
              </div>
              <div class="col-3 text-center" *ngIf="detalleApoitment.status.id == 1">
                <button type="button" class="btn btn-success"  title="Agregar Detalle" (click)="addDetalle()">
                Agregar descripcion
                </button>
              </div>
            </div>
            <div class="row mx-auto mt-3" *ngIf="detalleApoitment.status.id == 1">
              <div class="col-8">
                <h6>Detalles:</h6>

                <table class="table table-hover" *ngIf="addDeta?.length != 0">
                  <thead>
                    <tr>
                      <th>N°</th>
                      <th>Tipo detalle</th>
                      <th>Descripción</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="addDeta?.length != 0">
                    <tr *ngFor="let item of addDeta; let i = index  ">

                      <td>{{i+1}}</td>
                      <td>{{item.Descripcion}}</td>
                      <td>{{item.comentario}}</td>
                      <td><button #myButton type="button" class="btn btn-danger" id="{{i}}"  title="Agregar Detalle" (click)="getElemet(i)">
                       Eliminar
                        </button></td>
                      </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="row mx-auto" *ngIf="detalleApoitment.status.id == 1 else verDetalleMedico">
              <div class="col-4">
                <ng-multiselect-dropdown
                [placeholder]="'Seleccionar Estado '"
                  [settings]="dropdownSettingsOperacion"
                  [data]="dropdownListOpera"
                  (onSelect)="onItemSelectOpera($event)"
                ></ng-multiselect-dropdown>
              </div>
              <div class="col-3 text-center" *ngIf="detalleApoitment.status.id == 1">
                <button myButton type="button" class="btn btn-primary"  title="Guardar estado y detalles" type="submit">
                Guardar estado y detalles
                </button>
              </div>
            </div>
        </form>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row p-3">
                <div class="row">
                  <h6>Ultimo chequeo realizado para: {{ detalleCita.paciente  }}</h6>
                  <div class="col">
                    <div class="card card-stats">
                      <div class="card-body ">
                        <div class="row">
                            <div class="numbers">
                              <p class="card-category text-center fw-bolder">Glucosa</p>
                              <p class="card-title text-center">{{valorGlucosa}} - {{Medidaglucosa}}
                            </div>
                        </div>
                      </div>
                      <div class="card-footer ">
                        <div class="stats">
                          <p class="card-category text-center fw-bolder">Fecha</p>
                          <hr>
                          <p class="card-title text-center">{{FechaGlucosa}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card card-stats">
                      <div class="card-body ">
                        <div class="row">
                            <div class="numbers text-center">
                              <p class="card-category fw-bolder">Presion Sistólica</p>
                              <p class="card-title"> {{Vsystolic_pressure}}</p>
                            </div>
                        </div>
                      </div>
                      <div class="card-footer ">
                        <div class="stats">
                          <p class="card-category text-center fw-bolder">Fecha</p>
                          <hr>
                          <p class="card-title text-center">{{FechaPresion}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card card-stats">
                      <div class="card-body ">
                        <div class="row">
                            <div class="numbers text-center">
                              <p class="card-category text-center fw-bolder">Presion Diastólica</p>
                              <p class="card-title text-center">{{Vdiastolic_pressure}} </p>
                            </div>
                        </div>
                      </div>
                      <div class="card-footer ">
                        <div class="stats">
                          <p class="card-category text-center fw-bolder">Fecha</p>
                          <hr>
                          <p class="card-title text-center">{{FechaPresion}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card card-stats">
                      <div class="card-body ">
                        <div class="row">
                            <div class="numbers text-center">
                              <p class="card-category fw-bolder">Ritmo Cardiaco</p>
                              <p class="card-title">{{Vheart_rate}}</p>
                            </div>
                        </div>
                      </div>
                      <div class="card-footer ">
                        <div class="stats">
                          <i class="fa fa-refresh"></i>
                          <p class="card-category text-center fw-bolder">Fecha</p>
                          <hr>
                          <p class="card-title text-center">{{FechaPresion}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4 mb-4">
                  <div class="col">
                    <div class="card">
                      <div class="card-header fw-bolder">
                        Últimas tomas de glucosa
                      </div>
                      <div class="card-body">
                        <canvas baseChart
                                [datasets]="barChartGlucoData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType">
                              </canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col">

                    <div class="card">
                      <div class="card-header fw-bolder">
                        Últimas tomas de presión
                      </div>
                      <div class="card-body">
                        <canvas baseChart
                               [datasets]="barChartDataPresion"
                               [labels]="barChartLabels2"
                               [options]="barChartOptions"

                               [legend]="barChartLegend"
                               [chartType]="barChartType">
                             </canvas>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="card m-auto">
            <h5 class="card-header bg-secondary text-light">Expediente clínico</h5>
            <div class="card-body">
              <h6 class="card-title">Su información:</h6>
              <div class="col">
                <form  [formGroup] ="recordForm" id="formRec">
                  <div class="row g-3">
                    <div class="col-sm-8 mx-auto">
                      <input type="text" class="form-control" formControlName="fName" required="" readonly>
                    </div>

                    <div class="col-12">
                      <label for="address2" class="form-label">Dirección </label>
                      <input type="text" class="form-control" value="record.user_id.email" placeholder="Dirección completa" formControlName="direccion" [ngClass]="{'is-invalid':submitted && f.direccion.errors}" readonly>
                      <div *ngIf="submitted && f.direccion.errors " class="invalid-feedback">
                        <div *ngIf="f.direccion.errors.required">
                          Por favor ingresa la dirección
                        </div>
                        <div *ngIf="f.direccion.errors.minlength">
                          La dirección debe tener al menos 15 caracteres
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-3">
                      <label for="firstName" class="form-label">F. nacimiento</label>
                      <input type="date" class="form-control disabled" id="fNacimiento" formControlName="fNacimiento" (change)="calculaEdad()"  [ngClass]="{'is-invalid':submitted && f.fNacimiento.errors}" readonly>
                      <!--<div *ngIf="submitted && f.fNacimiento.errors " class="invalid-feedback">
                        <div *ngIf="f.fNacimiento.errors.required">
                          * Completar
                        </div>
                      </div>-->
                    </div>
                    <div class="col-sm-1">
                      <label for="firstName" class="form-label">Edad</label>
                      <input type="text" name="edadActual" class="form-control" formControlName="edadActual" readonly>
                    </div>
                    <div class="col-sm-2">
                      <label for="lastName" class="form-label">Credencial</label>
                      <input type="text" name="tipoId" class="form-control" formControlName="tipoId" readonly>
                      <!--<select class="form-select" id="creden" formControlName="tipoId" [ngClass]="{'is-invalid':submitted && f.tipoId.errors}">
                        <option value="">Escoger...</option>
                        <option value="1">DUI</option>
                        <option value="2">PASAPORTE</option>
                      </select>-->
                    </div>
                    <div class="col-sm-3">
                      <label for="" class="form-label">Número de credencial</label>
                      <input type="text" class="form-control" formControlName="numId" [ngClass]="{'is-invalid':submitted && f.numId.errors}" readonly>
                    </div>
                    <div class="col-sm-3">
                      <label for="" class="form-label">Teléfono</label>
                      <input type="text" class="form-control" formControlName="telefono" [ngClass]="{'is-invalid':submitted && f.telefono.errors}" readonly>
                    </div>

                    <div class="col-md-3">
                      <label for="country" class="form-label">Peso (LB)</label>
                      <input type="number" class="form-control" step="0.01" min="1" formControlName="peso" [ngClass]="{'is-invalid':submitted && f.peso.errors}" readonly>
                    </div>

                    <div class="col-md-3">
                      <label for="country" class="form-label">Altura (cm)</label>
                      <input type="number" class="form-control" step="0.01" min="1" formControlName="altura" [ngClass]="{'is-invalid':submitted && f.altura.errors}" readonly>
                    </div>

                    <div class="col-md-3">
                      <label for="lastName" class="form-label">Género</label>
                      <input type="text" name="genero" class="form-control" formControlName="genero" readonly>
                      <!--<select class="form-select" id="state" formControlName="genero" [ngClass]="{'is-invalid':submitted && f.genero.errors}" >
                        <option value="">Escoger...</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                      </select>-->
                    </div>
                    <div class="col-md-3">
                      <label for="country" class="form-label">Profesión</label>
                      <input type="text" class="form-control" formControlName="profesion" [ngClass]="{'is-invalid':submitted && f.profesion.errors}" readonly>
                    </div>
                  </div>

                  <hr class="my-4">

                </form>
              </div>
            </div>
        </div>

      </div>
     </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <ng-template #verDetalleMedico>
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="col-8 m-auto mt-2">
        <div class="accordion accordion-flush border" id="accordionFlushExample">
          <div class="accordion-item" *ngFor="let detalleTipo of detalles; let i = index ">
            <h2 class="accordion-header " id="flush-headingOne{{i}}">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapseOne'+i" aria-expanded="false" [attr.aria-controls]="'flush-collapseOne'+i">
                {{ detalleTipo }}&nbsp;
              </button>
            </h2>
            <div id="flush-collapseOne{{i}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-headingOne'+i" [attr.data-bs-parent]="'#accordionFlushExample' + i">
              <div class="accordion-body">
                <ol class="list-group fw-bold">
                  <div  *ngFor="let details of arrDetallDesc; let j = index">
                    <li class="list-group-item list-group-numbered" *ngIf="arrDetallDesc[j][detalleTipo] != null">
                      {{ arrDetallDesc[j][detalleTipo] }}
                    </li>
                </div>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
