
<div *ngIf="!horario" class="alert alert-warning" role="alert">
 <h5> Por favor Agregar un Horario de atencion a pacientes.!!</h5>
</div>


<h2 *ngIf="horario" >Citas de pacientes agendadas</h2>
<div *ngIf="horario"  class="row mt-6">
  <div class="table-responsive">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Nombre Paciente</th>
          <th>Nombre Clinica</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Comentario</th>
          <th>Ver detalles</th>
        </tr>
      </thead>
          <tbody *ngFor="let cita of citasData | paginate: { itemsPerPage: 10, currentPage: p }">
          <tr>

          <td>{{cita.patient_id.name}}</td>
          <td>{{cita.doctor_id.clinic_id.description}}</td>
          <td>{{cita.appointment_date}}</td>
          <td>{{cita.appointment_time}}</td>
          <td>{{cita.justification}}</td>
          <td>  <h5 class="card-title"><a  href="doctor/detail/patient/{{cita.patient_id.id}}" class="btn btn-link p-0">Ver detalle</a></h5></td>
          </tr>
         </tbody>
    </table>
    <pagination-controls previousLabel="Anterior"
    nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>

  </div>
</div>
