<div class="card col-9 m-auto">
  <h5 class="card-header text-center">Visualizando Perfil del medico</h5>
  <div class="card-body">
    <h6 class="card-title">Su información:</h6>
    <div class="col">
      <form  [formGroup] ="doctorForm"  id="formRec">
         <div class="col-sm-8 mx-auto">
            <input type="text" class="form-control" formControlName="fName" required="" readonly>
          </div>
      <div class="row g-3">

          <div class="col-12">
            <label for="address2" class="form-label">Especialidad </label>
            <input type="text" class="form-control" value="" placeholder="Dirección completa" formControlName="especialidad" [ngClass]="{'is-invalid':submitted && f.direccion.errors}" readonly>
            <!-- <div *ngIf="submitted && f.direccion.errors " class="invalid-feedback">
              <div *ngIf="f.direccion.errors.required">
                Por favor ingresa la dirección
              </div>
              <div *ngIf="f.direccion.errors.minlength">
                La dirección debe tener al menos 15 caracteres
              </div>
            </div> -->
          </div>

          <div class="col-sm-4">
            <label for="firstName" class="form-label">Identificacion medica</label>
            <input type="text" class="form-control disabled" id="num_reg" formControlName="num_reg"   readonly>
            <!--<div *ngIf="submitted && f.fNacimiento.errors " class="invalid-feedback">
              <div *ngIf="f.fNacimiento.errors.required">
                * Completar
              </div>
            </div>-->
          </div>

          <div class="col-sm-4">
            <label for="lastName" class="form-label">Credencial</label>
            <input type="text" name="tipoId" class="form-control" formControlName="tipoId" readonly>
            <!--<select class="form-select" id="creden" formControlName="tipoId" [ngClass]="{'is-invalid':submitted && f.tipoId.errors}">
              <option value="">Escoger...</option>
              <option value="1">DUI</option>
              <option value="2">PASAPORTE</option>
            </select>-->
          </div>
          <div class="col-sm-4">
            <label for="" class="form-label">Número de credencial</label>
            <input type="text" class="form-control" formControlName="numId" [ngClass]="{'is-invalid':submitted && f.numId.errors}" readonly>
          </div>


        </div>

        <hr class="my-4">

      
      </form>
    </div>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  var update_pizza = function () {

        $('#creden').prop('disabled', 'disabled');

  };

  window.onload = update_pizza;
</script>
