<div class="row">
  <div class="col-md-5 mx-auto mt-5">
    <div class="card">
      <h5 class="card-header text-center">Registro de usuario</h5>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <div class="form-group">
            <label for="name">Nombre completo</label>
            <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':submitted && f.name.errors}">
            <div *ngIf="submitted && f.name.errors " class="invalid-feedback">
              <div *ngIf="f.name.errors.required">
                Por favor ingresa los nombres
              </div>
              <div *ngIf="f.name.errors.minlength">
                Nombre debe tener al menos 5 caracteres
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid':submitted && f.email.errors}">
            <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
              <div *ngIf="f.email.errors.required">
                Por favor ingresa tu email
              </div>
              <div *ngIf="f.email.errors.email">
                El email no cumple con un formato adecuado
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Constraseña</label>
            <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid':submitted && f.password.errors}">
            <div *ngIf="submitted && f.password.errors " class="invalid-feedback">
              <div *ngIf="f.password.errors.required">
                Por favor ingresa una contraseña
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password2">Confirmar constraseña</label>
            <input type="password" class="form-control" id="passConfirm" formControlName="password2" required [ngClass]="{'is-invalid':submitted && f.password2.errors}">
            <div *ngIf="submitted && f.password2.errors " class="invalid-feedback">
              <div *ngIf="f.password2.errors.required">
                Por favor ingresa la confirmación de contraseña
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group mt-2 m-auto col">
              <button type="submit" class="btn btn-primary w-100">Registrarme</button>
            </div>
          </div>
        </form>
        <div class="form-group">
          <p>¿Ya tienes cuenta? <a [routerLink]="['/login']" href="javascript:void(0);">Inicia sesión</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
