<div class="card col-9 m-auto">
  <h5 class="card-header text-center">Agregar Horarios</h5>
  <hr>
  <h5 class="card-header text-center">{{clinica}}</h5>
  <div class="card-body">
    <h6 class="card-title">Por favor Seleccione el Horario de Disponibilidad</h6>
    <div class="col">
      <form  [formGroup] ="dochorarioForm" (ngSubmit) = "guardarHorarioDoc()" >
        <!-- [formGroup] ="horarioForm" (ngSubmit) = "guardaEHorario()" -->
        <div class="row ">

          <div class="col-sm-3">
            <ng-multiselect-dropdown
  [placeholder]="'Seleccione Fecha'"
  [settings]="dropdownSettings"
  [data]="dropdownListDia"
  [(ngModel)]="selectedItems"
  (onSelect)="onItemSelectDia($event)"
  (onSelectAll)="onSelectAllDia($event)"
></ng-multiselect-dropdown>
            <!-- <div *ngIf="submitted && f.direccion.errors " class="invalid-feedback">
              <div *ngIf="f.direccion.errors.required">
                Por favor ingresa la dirección
              </div>
              <div *ngIf="f.direccion.errors.minlength">
                La dirección debe tener al menos 15 caracteres
              </div>
            </div> -->
          </div>
          <div class="col-3">
            <ng-multiselect-dropdown
  [placeholder]="'Hora inicio'"
  [settings]="dropdownSettingsHora"
  [data]="dropdownListHora"
  (onSelect)="onItemSelectHora($event)"

></ng-multiselect-dropdown>

            <!-- <div *ngIf="submitted && f.direccion.errors " class="invalid-feedback">
              <div *ngIf="f.direccion.errors.required">
                Por favor ingresa la dirección
              </div>
              <div *ngIf="f.direccion.errors.minlength">
                La dirección debe tener al menos 15 caracteres
              </div>
            </div> -->
          </div>
          <div class="col-3">
            <ng-multiselect-dropdown
  [placeholder]="'Hora Fin'"
  [settings]="dropdownSettingsHora"
  [data]="dropdownListHora"
  (onSelect)="onItemSelectHoraFin($event)"

>
</ng-multiselect-dropdown>

            <!-- <div *ngIf="submitted && f.direccion.errors " class="invalid-feedback">
              <div *ngIf="f.direccion.errors.required">
                Por favor ingresa la dirección
              </div>
              <div *ngIf="f.direccion.errors.minlength">
                La dirección debe tener al menos 15 caracteres
              </div>
            </div> -->
          </div>

          <div class="col-3">
            <ng-multiselect-dropdown
  [placeholder]="'Rango'"
  [settings]="dropdownSettingsHora"
  [data]="dropdownListRango"


>
</ng-multiselect-dropdown>

            <!-- <div *ngIf="submitted && f.direccion.errors " class="invalid-feedback">
              <div *ngIf="f.direccion.errors.required">
                Por favor ingresa la dirección
              </div>
              <div *ngIf="f.direccion.errors.minlength">
                La dirección debe tener al menos 15 caracteres
              </div>
            </div> -->
          </div>
        </div>

        <hr class="my-4">

        <button class="w-100 btn btn-primary btn-lg" type="submit">Crear Horario</button>
      </form>
    </div>
  </div>
</div>

