<p align="right" *ngIf="hayHistorial">
  <button myButton type="button" class="btn btn-primary "  (click)="ExportReport()">
  Generar Reporte</button>
 </p>

<div class="Container" id="element_to_export">
<div class="card col m-auto t-4" >

  <div class="card-body border">
    <div class="row  mb-3">
      <div class="col">
        <img width="175"
        src="assets/img/logo_medi.jpg">
      </div>
      <div class="col">
        <h5 class="text-end">Historial médico hasta la fecha: {{fechaActual | date:'dd-MM-yyyy'}}</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="row">
            <div class=" col-md-3 col-12">
                <p class="text-dark">Paciente:</p>
            </div>
            <div class=" col-md-9 col-12 ">
                <p class="text-dark fw-bold">{{ datosPacienteGen.nombre }}</p>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-3 col-12 ">
                <p class="text-dark">Direccion:</p>
            </div>
            <div class=" col-md-8 col-12 ">
                <p class="text-dark fw-bold">{{ datosPacienteGen.direccion }}</p>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-3 col-12 ">
                <p class="text-dark">Teléfono:</p>
            </div>
            <div class=" col-md-8 col-12 ">
                <p class="text-dark fw-bold">{{ datosPacienteGen.telefono }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="row">
            <div class=" col-md-2 col-12">
                <p class="text-dark">Edad:</p>
            </div>
            <div class=" col-md-3 col-12 ">
                <p class="text-dark fw-bold">{{ datosPacienteGen.edad }}</p>
            </div>
            <div class=" col-md-2 col-12">
              <p class="text-dark">Prof.:</p>
            </div>
            <div class=" col-md-3 col-12 ">
                <p class="text-dark fw-bold">{{ datosPacienteGen.profesion }}</p>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-2 col-12">
              <p class="text-dark">Peso:</p>
            </div>
            <div class=" col-md-3 col-12 ">
                <p class="text-dark fw-bold">{{ datosPacienteGen.peso }} (lb)</p>
            </div>
            <div class=" col-md-2 col-12">
              <p class="text-dark">Altura:</p>
            </div>
            <div class=" col-md-3 col-12 ">
                <p class="text-dark fw-bold">{{ datosPacienteGen.altura }} (cm)</p>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-2 col-12">
              <p class="text-dark">Creden.:</p>
            </div>
            <div class=" col-md-3 col-12 ">
                <p class="text-dark fw-bold">{{ datosPacienteGen.credencialId }}</p>
            </div>
            <div class=" col-md-2 col-12">
              <p class="text-dark">Número:</p>
            </div>
            <div class=" col-md-3 col-12 ">
                <p class="text-dark fw-bold">{{ datosPacienteGen.credencialNum }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="hayHistorial else noHistory">
      <div class="col"  *ngFor="let observacion of observacionesCitas; let i = index">
        <h6 class="card-header bg-dark text-light p-1 fas fa-edit">{{ observacion }}</h6>
        <div class="card-body mb-0">
          <table class="table table-bordered mb-0">
            <thead>
              <tr >
                <th scope="col" class="text-center" >N° Cita</th>
                <th scope="col" >Descripción</th>
                <th scope="col" class="text-center">Fecha cita</th>
                <th scope="col" class="text-center">Doctor</th>
                <th scope="col" class="text-center">Clinica</th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let det of observacionesDetalle; let j = index" >
                <td *ngIf="det[observacion] != null" class="text-center fw-bold">#{{ observacionesGen[j].appointment_id.id }}</td>
                <td *ngIf="det[observacion] != null">{{ det[observacion] }}</td>
                <td *ngIf="det[observacion] != null" class="text-center ">{{ observacionesGen[j].appointment_id.appointment_date }}</td>
                <td *ngIf="det[observacion] != null" class="text-center ">{{ observacionesGen[j].appointment_id.doctor_id.user_id.name }}</td>
                <td *ngIf="det[observacion] != null" class="text-center ">{{ observacionesGen[j].appointment_id.doctor_id.clinic_id.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<ng-template #noHistory>
  <div  class="alert alert-info col-8 mx-auto mt-2" role="alert">
    <p class="mb-0">No se encontró historial médico, para obtener uno, primero realice una cita médica.</p>
   </div>
</ng-template>
<script src="html2pdf.bundle.min.js"></script>
