<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="\">MediPlus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="rol == 1 && isLogged; else doctor ">
        <!--- PARA PACIENTES -->

          <li class="nav-item" *ngIf="tieneExpediente">
            <a class="nav-link" routerLinkActive='active' aria-current="page" [routerLink]="['/home']">Incio</a>
          </li>
          <li class="nav-item" *ngIf="tieneExpediente">
            <a class="nav-link" routerLinkActive='active'  aria-current="page" [routerLink] = "['/patient/gluco/new']">
              Toma de glucosa</a>
          </li>
          <li class="nav-item" *ngIf="tieneExpediente">
            <a class="nav-link" routerLinkActive='active'  aria-current="page" [routerLink] = "['/patient/ver-glucosa']">
              Hist. glucosa</a>
          </li>
          <li class="nav-item" *ngIf="tieneExpediente">
            <a class="nav-link" routerLinkActive='active'  aria-current="page" [routerLink] = "['/patient/pressure/new']">
              Toma de presión</a>
          </li>
          <li class="nav-item" *ngIf="tieneExpediente">
            <a class="nav-link" routerLinkActive='active'  aria-current="page" [routerLink] = "['/patient/ver-presion']">
              Hist. presión</a>
          </li>
          <li class="nav-item" *ngIf="tieneExpediente">
            <a class="nav-link" routerLinkActive='active'  aria-current="page" [routerLink] = "['patient/appointment/new']">
              Agendar cita
            </a>
          </li>
          <li class="nav-item" *ngIf="tieneExpediente">
            <a class="nav-link" routerLinkActive='active'  aria-current="page" [routerLink] = "['patient/appointment/my_appointments']">
              Mis citas
            </a>
          </li>
          <li class="nav-item" *ngIf="tieneExpediente">
            <a class="nav-link" routerLinkActive='active'  aria-current="page" [routerLink] = "['/patient/verRecord']">
              Mi expediente</a>
          </li>
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" routerLinkActive='active' aria-current="page" [routerLink]="['/register']">Crear una cuenta</a>
        </li>

      </ul>
      <!--- PARA DOCTORES -->
      <ng-template  #doctor>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLogged">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive='active' aria-current="page" [routerLink]="['/doctor/home']">Incio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive='active' aria-current="page" [routerLink]="['/doctor/schedule/new']">Agregar Horario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive='active' aria-current="page" [routerLink]="['/doctor/schedule']">Ver Horarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive='active' aria-current="page" [routerLink]="['/doctor/profile']">Ver Perfil</a>
            </li>
          </ul>
      </ng-template>



      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isLogged; else login">
          <a class="nav-link" (click)="onLogout()" href="javascript:void(0)">Cerrar sesión</a>
        </li>
        <ng-template  #login>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive='active' href="javascript:void(0)">Iniciar sesión</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
