<div >
  <h1 class="text-center text-uppercase  font-weight-bolder p-0 h1">MediPlus</h1>
  <img class="wave" src="./assets/img/wave.png">
  <div class="container">
    <div class="img">
      <img src="./assets/img/utec.png" style="max-width: 300px;">
    </div>
    <div class="login-content pb-5">
      <form method="POST" action="">
        <img src="./assets/img/default.png">
        <h2 class="title">Inicio de sesión</h2>

        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <h5 class="font-weight-bold">Usuario</h5>
            <input type="text" class="input is-invalid " name="usuario" id="usuario" style="z-index: 1"
                   required>
          </div>
        </div>
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <h5 class="font-weight-bold">Contraseña</h5>
            <input type="password" class="input @error('password') is-invalid @enderror" name="password"
                   style="z-index: 1" id="password"><i class="fas fa-eye" id="mostrarPass"
                                                       onclick="mostrarPass('mostrarPass', 'password')"></i>

          </div>
        </div>
        <div class="form-group row rem offset-4 pt-3">
          <input class="form-check-input" type="checkbox" name="remember"
                 id="remember">

          <label class="form-check-label font-weight-bold" for="remember">
            recuérdame
          </label>

        </div>
        <a href="password.request" target="_blank" class="font-weight-bold" style="text-decoration: none">¿Olvidaste tu
          contraseña?</a>
        <input type="submit" class="btn text-light" value="Login">

      </form>
    </div>
  </div>

  <script type="text/javascript" src="./assets/js/mainLogin.js"></script>

</div>
