

<div class="card col m-auto">
  <h5 class="card-header bg-secondary text-light">Historial de tomas de Presion realizadas</h5>
  <div class="card-body">
<div class="col mt-3">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th>N°</th>
          <th>Presion Sistólica</th>
          <th>Presion Diastólica</th>
          <th>Ritmo Cardiaco</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Comentario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let presion of presionData; let i = index">
          <td>{{ i + 1 }}</td>
        <td>{{presion.systolic_pressure}}</td>
        <td>{{presion.diastolic_pressure}}</td>
        <td>{{presion.heart_rate}}</td>
        <td>{{presion.date}}</td>
        <td>{{presion.time}}</td>
        <td>{{presion.comments}}</td>
        </tr>
      </tbody>
    </table>
</div>
  </div>
</div>
