<h2>Historial de tomas de Presion realizadas</h2>


<div class="row mt-6">
  <div class="table-responsive">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Presion Sistólica</th>
          <th>Presion Diastólica</th>
          <th>Ritmo Cardiaco</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Comentario</th>
        </tr>
      </thead>
        <tbody *ngFor="let presion of presionData ">
          <tr>

          <td>{{presion.systolic_pressure}}</td>
          <td>{{presion.diastolic_pressure}}</td>
          <td>{{presion.heart_rate}}</td>
          <td>{{presion.date}}</td>
          <td>{{presion.time}}</td>
          <td>{{presion.comments}}</td>
          </tr>
         </tbody>
    </table>

  </div>
</div>
