<style>
  ::ng-deep .selected-item {
    max-width: max-content !important;
}
</style>
<div class="card col m-auto">
  <h5 class="card-header">Agendar cita</h5>
  <div class="card-body">

    <h6 class="card-title mt-3">DATOS PERSONALES:</h6>

    <div class="col mt-3">
      <form [formGroup] ="recordPacForm" (ngSubmit) = "agendarCita()">
        <div class="row g-3">
          <div class="col-sm-3">
            <label for="firstName" class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="fName" required="" readonly>
          </div>
          <div class="col-sm-2">
            <label for="firstName" class="form-label">F. nacimiento</label>
            <input type="date" class="form-control disabled" id="fNacimiento" formControlName="fNacimiento"   [ngClass]="{'is-invalid':submitted && f.fNacimiento.errors}" readonly>
          </div>
          <div class="col-sm-2">
            <label for="" class="form-label">Número de credencial</label>
            <input type="text" class="form-control" formControlName="numId" [ngClass]="{'is-invalid':submitted && f.numId.errors}" readonly>
          </div>
          <div class="col-md-2">
            <label for="lastName" class="form-label">Género</label>
            <input type="text" name="genero" class="form-control" formControlName="genero" readonly>
          </div>
          <div class="col-sm-3">
            <label for="" class="form-label">Teléfono</label>
            <input type="text" class="form-control" formControlName="telefono" [ngClass]="{'is-invalid':submitted && f.telefono.errors}" readonly>
          </div>
          <div class="col-6">
            <label for="address2" class="form-label">Dirección </label>
            <input type="text" class="form-control" placeholder="Dirección completa" formControlName="direccion" [ngClass]="{'is-invalid':submitted && f.direccion.errors}" readonly>
          </div>

          <div class="col-md-3">
            <label for="country" class="form-label">Peso (LB)</label>
            <input type="number" class="form-control" step="0.01" min="1" formControlName="peso" [ngClass]="{'is-invalid':submitted && f.peso.errors}" readonly>
          </div>

          <div class="col-md-3">
            <label for="country" class="form-label">Altura (cm)</label>
            <input type="number" class="form-control" step="0.01" min="1" formControlName="altura" [ngClass]="{'is-invalid':submitted && f.altura.errors}" readonly>
          </div>
        </div>

        <hr class="my-4">
        <h6 class="card-title mt-3">DATOS DE CITA</h6>
        <div class="row g-3">
          <div class="col-sm-3">
            <label for="firstName" class="form-label">Departamento</label>
            <ng-multiselect-dropdown
              [placeholder]="'Departamentos'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              (onDeSelect)="onDeSelect($event)"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"

            >
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="firstName" class="form-label">Clínica</label>
            <ng-multiselect-dropdown
              [placeholder]="'Clínica'"
              [settings]="dropdownSettings"
              [data]="dropdownListClinic"
              (onDeSelect)="onDeSelectClinica($event)"
              (onSelect)="onItemSelectClinica($event)"
              (onSelectAll)="onSelectAll($event)"
              [disabled]="!seleccionoDep"
            >
            </ng-multiselect-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="" class="form-label">Doctor</label>
            <ng-multiselect-dropdown
              [placeholder]="'Doctores'"
              [settings]="dropdownSettings"
              [data]="dropdownListDoc"
              (onDeSelect)="onDeSelectDoctor($event)"
              (onSelect)="onItemSelectDoctor($event)"
              (onSelectAll)="onSelectAll($event)"
              [disabled]="!seleccionoClin"
              #selectDoctor
            >
            </ng-multiselect-dropdown>
          </div>
          <div class="col-md-3">
            <label for="lastName" class="form-label">Fecha</label>
            <input type="date" name="fechaCita" class="form-control" id="fechaCita" min="{{fechaPicker}}"
            formControlName="fechaCita" [readOnly]="!selecDoctor" (change)="obtieneHorarios()">
          </div>
          <div class="col-sm-3">
            <label for="" class="form-label">Horas disponibles</label>
            <ng-multiselect-dropdown
              [placeholder]="'Horarios'"
              [settings]="dropdownSettings"
              [data]="dropdownListHor"
              (onDeSelect)="onDeSelectDoctor($event)"
              (onSelect)="onItemSelectDoctor($event)"
              (onSelectAll)="onSelectAll($event)"
              [disabled]="!seleccionoFecha"
              #selectDoctor
            >
            </ng-multiselect-dropdown>
          </div>
          <div class="col-6">
            <label for="address2" class="form-label">Comentarios </label>
            <textarea class="form-control">

            </textarea>
          </div>
        </div>
        <hr class="my-4">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Guardar</button>
      </form>
    </div>
  </div>
</div>

