<div class="container gb-primary">
  <h5 >{{ nombreUsuario }}</h5>
  <div class="row border">
    <h5>Ultimo chequeo realizado</h5>
    <div class="col">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
              <div class="numbers">
                <p class="card-category text-center ">Glucosa</p>
                <p class="card-title text-center">{{valorGlucosa}} - {{Medidaglucosa}}
              </div>
          </div>
        </div>
        <div class="card-footer ">
          <div class="stats">
            <p class="card-category text-center">Fecha</p>
            <hr>
            <p class="card-title text-center">{{FechaGlucosa}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
              <div class="numbers text-center">
                <p class="card-category">Presion Sistólica</p>
                <p class="card-title"> {{Vsystolic_pressure}}</p>
              </div>
          </div>
        </div>
        <div class="card-footer ">
          <div class="stats">
            <p class="card-category text-center">Fecha</p>
            <hr>
            <p class="card-title text-center">{{FechaPresion}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
              <div class="numbers text-center">
                <p class="card-category text-center">Presion Diastólica</p>
                <p class="card-title text-center">{{Vdiastolic_pressure}} </p>
              </div>
          </div>
        </div>
        <div class="card-footer ">
          <div class="stats">
            <p class="card-category text-center">Fecha</p>
            <hr>
            <p class="card-title text-center">{{FechaPresion}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
              <div class="numbers text-center">
                <p class="card-category">Ritmo Cardiaco</p>
                <p class="card-title">{{Vheart_rate}}</p>
              </div>
          </div>
        </div>
        <div class="card-footer ">
          <div class="stats">
            <i class="fa fa-refresh"></i>
            <p class="card-category text-center">Fecha</p>
            <hr>
            <p class="card-title text-center">{{FechaPresion}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Últimas tomas de glucosa
        </div>
        <div class="card-body">
          <h5 class="card-title"><a  href="/patient/ver-glucosa" class="btn btn-link p-0">Ver historial de tomas</a></h5>
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
                </canvas>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="card">
        <div class="card-header">
          Últimas tomas de presión
        </div>
        <div class="card-body">
          <h5 class="card-title"><a  href="/patient/ver-presion" class="btn btn-link p-0">Ver historial de tomas</a></h5>
          <canvas baseChart
                 [datasets]="barChartDataPresion"
                 [labels]="barChartLabels2"
                 [options]="barChartOptions"

                 [legend]="barChartLegend"
                 [chartType]="barChartType">
               </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
