<h2>Historial de tomas de Glucosa realizadas</h2>


<div   class="row mt-6">
  <div class="col">
    <table class="table table-hover ">
      <thead>
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Valor</th>
            <th>Hora</th>
            <th>Comentario</th>
            </tr>
      </thead>
      <tbody *ngFor="let gluco of glucosaData; let i = index">
        <tr>
        <td>{{i+1}}</td>
        <td>{{gluco.date}}</td>
        <td>{{gluco.measure}} - {{gluco.units.description}}</td>
        <td>{{gluco.time}}</td>
        <td>{{gluco.comments}}</td>
        </tr>
       </tbody>
    </table>
  </div>
</div>

