
<div class="card col m-auto">
  <h5 class="card-header bg-secondary text-light">Historial de tomas de glucosa realizadas</h5>
  <div class="card-body">
<div class="col mt-3">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr >
          <th>N°</th>
          <th >Fecha</th>
          <th >Valor</th>
          <th >Hora</th>
          <th>Comentario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gluco of glucosaData; let i = index ">
          <td>{{ i + 1 }}</td>
          <td>{{gluco.date}}</td>
          <td>{{gluco.measure}} - {{gluco.units.description}}</td>
          <td>{{gluco.time}}</td>
          <td>{{gluco.comments}}</td>
        </tr>
      </tbody>
    </table>

</div>
</div>
</div>

